@keyframes show {
    0% {
        opacity: 1;
        height: 6vh;
    }

    100% {
        opacity: 1;
        height: 10vh;
    }
}

@keyframes shake {
    0% {
        transform: rotate(-20deg);
    }
    3.75% {
        transform: rotate(-30deg);
    }
    7.5% {
        transform: rotate(-10deg);
    }
    15% {
        transform: rotate(-30deg);
    }
    18.75% {
        transform: rotate(-10deg);
    }
    22.50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}


@keyframes idk {
    0% {
        font-size: larger;
    }

    100% {
        font-size: medium;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 10vh;
    }

    100% {
        opacity: 1;
        height: 6vh;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity2 {
    0% {
        height: 1vh
    }

    100% {
        height: 60vh
    }
}

h1 {
    font-family: sans-serif;
    color: rgb(227, 227, 227);
}

#hometitle {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    z-index: 2;
    transition: top ease 0.5s;
}

.navbar:hover+ #homeimg center #hometitle {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    z-index: 2;
    transition: top ease 0.5s;
}

.navbar .navbutton h1 {
    font-size: 15px;
    transition: font-size 0.5s ease;
}

.navbar:hover .navbutton h1 {
    font-size: 25px;
    transition: font-size 0.5s ease;
}

.navbar .navbutton {
    height: 6vh;
    width: 13vw;
    background-color: transparent;
    outline-width: 0vh;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: height 0.5s ease;
}

.navbar:hover .navbutton {
    height: 10vh;
    width: 13vw;
    transition: height 0.5s ease;
}

.navbar {
    background-color: black;
    height: 6vh;
    opacity: 1;
    transition: height 0.5s ease, opacity 0.5s ease;
    align-items: center;
}

#instaimg, #disimg, #hcimg {
    height: 6vh;
}

.angledtext h1 {
    font-size: medium;
    padding: 5px;
}

.angledtext {
    background-color: rgba(185, 45, 68, 0.853);
    width: 20vw;
    border-radius: 20px;
    transform: rotate(-20deg);
    position: absolute;
    top: 80vh;
    left: 80vw;
    padding-bottom: 20px;
    animation: shake 2.5s linear infinite;
    z-index: 20;
}

.navbar:hover {
    background-color: black;
    height: 10vh;
    animation: show 0.5s;
    opacity: 1;
    align-items: center;
}

html,
body {
    margin: 0vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.scroll-wrapper {
    height: 100vh;
    overflow-y: auto;
}

.navbutton:hover {
    height: 10vh;
    width: 13vw;
    background-color: rgb(38, 38, 38);
    outline-width: 0vh;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.navbutton:active {
    height: 10vh;
    width: 13vw;
    background-color: rgb(71, 71, 71);
    outline-width: 0vh;
    text-decoration: none;
    border: none;
    cursor: -moz-grabbing;
}

.navbutton h1 {
    font-family: sans-serif;
    color: rgb(227, 227, 227);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#mission-state {
    width: 200vw;
    margin-top: -5vh;
}

.content-container {
    display: flex;
}

.half-content h3 {
    color: rgb(227, 227, 227);
    font-family: sans-serif;
    font-weight:100;
    z-index: 2;
}

.half-content h2 {
    color: rgb(227, 227, 227);
    font-family: sans-serif;
    z-index: 2;
}

.half-container {
    display: flex;
    z-index: 2;
}

.half-content {
    width: 50vw;
    padding: 1vw;
    z-index: 2;
}

#homeimg {
    position: relative;
    width: auto;
    overflow: hidden;
}

#homeimg img {
    width: 100%;
    object-fit: cover;
}

#abtus {
    height: 85vh;
}

#homeimg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 1;
}

.content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    height: 60vh;
    width: 44vw;
    margin: 1vw;
    padding-top: 1vh;
    transform-origin: top;
    animation: opacity 1s;
    animation: opacity2 1s;
}

#past {
    background-image: url("./resources/past.jpeg");
    left: 5vw;
}

#meetings {
    background-image: url("./resources/wchs.webp");
    left: 2vw;
}

#max {
    background-image: url("./resources/max.jpg");
    right: -3.5vw
}

#jonathan {
    background-image: url("./resources/jonathan.jpg");
    left: 3.5vw;
}

#mission {
    background-image: url("./resources/mission.jpeg");
    width: 90vw;
    left: 3.6vw;
}

strong {
    font-weight: 600;
}

#max::before {
    backdrop-filter: blur(0px);
}

#max h1 {
    margin-bottom: -3vh;
}

#jonathan::before {
    backdrop-filter: blur(0px);
}

#jonathan h1 {
    margin-bottom: -3vh;
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.442), rgba(0, 0, 0, 0.442), rgba(0, 0, 0, 0.442), rgba(0, 0, 0, 0.442), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 1;
    border-radius: 20px;
}

.content h1 {
    position: relative;
    z-index: 2;
}

.backsvg {
    position: absolute;
    top: 0;
    width: 300vw;
    margin-left: -120vw;
    margin-top: -30vh;
    z-index: -1;
}